# ----
# 添加到 https://github.com/weijunext/next-cn/settings/variables/actions
# ----

NEXT_PUBLIC_SITE_URL=https://nextjscn.org
NEXT_PUBLIC_SHOW_CUSTOM_AD=1
NEXT_PUBLIC_ASSETS_URL=

NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=nextjscn.org
NEXT_PUBLIC_PLAUSIBLE_SRC=

# DocSearch
# https://docsearch.algolia.com/apply/
NEXT_PUBLIC_DOC_SEARCH_APP_ID=
NEXT_PUBLIC_DOC_SEARCH_INDEX_NAME=
NEXT_PUBLIC_DOC_SEARCH_API_KEY=

# Resend
RESEND_API_KEY=
ADMIN_EMAIL=
RESEND_AUDIENCE_ID=

# Upstash
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
UPSTASH_REDIS_NEWSLETTER_RATE_LIMIT_KEY=
DAY_MAX_SUBMISSIONS=100